#geometry_section{
    display: none;
    margin: 20px;
    margin-top: 15px;
    h2{
        @extend %h2;
    }
    #square{
        margin-top: 15px;
        background-color:$main;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        h3{
            display: flex;
            align-items: center;
            @extend %h3;
            i{
                margin-right: 10px;
                font-size: 2rem;
                color: $clear;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            label{
                @extend %text;
            }
            input{
                @extend %inputs;
            }
            div{
                margin-top: 15px;
                button{
                    @extend %secondary_buttons;
                }
            }
        }
        #squareResult{
            @extend %results;           
        }
    }
    #triangle{
        margin-top: 15px;
        background-color:$secondary;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        #triangle_shape{
            margin-top: 15px;
                width: 0;
                height: 0;
                border-left: 12.5px solid transparent;
                border-right: 12.5px solid transparent;
                border-bottom: 25px solid $clear;            
                    h3{
                        margin-left: 20px;
                        display: flex;
                        align-items: center;
                        @extend %h3;
                    }
        }
        p{
            margin-top: 15px;
            @extend %text;
        }
        #checkbox{
            margin-top: 15px;
            width: 20px;
            height: 20px;
            border: none;
            box-shadow: none;            
        }
        label{
            @extend %text;
            justify-content: center;
        }
        #triangleForm{
            div{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            label{
                @extend %text;
                color: $clear;
            }
            input{
                @extend %inputs;
                background-color: $input_secondary;
                color: $font_color;
                margin-bottom: 15px;
            }
            div{
                display: block;
                margin-top: 15px;
                button{
                    @extend %secondary_buttons;
                    color: $secondary;
                }
            }
        }
        #triangleResult{
            @extend %results;            
        }
    }
        #isosceles {
            margin-top: 15px;
            div{
                display:flex;
                flex-direction: column;
          label{
            @extend %text;
          }
          input{
            @extend %inputs;
            background-color: $input_secondary;
            color: $font_color;
            margin-bottom: 15px;
          }
        }
          button{
              @extend %secondary_buttons;
          }
          #isosceles_buttons{
              display: block;
          }
          #isoscelesResult{
            @extend %results;
          }
         #height_input{
             display: block;
             button{
                 margin-left: 5px;
             }
         }
        }
    }
    #circle{
        margin-top: 15px;
        background-color:$main;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        h3{
            display: flex;
            align-items: center;
            @extend %h3;
            i{
                margin-right: 10px;
                font-size: 2rem;
                color: $clear;
            }
        }
        p{
            @extend %text;
            margin-top: 15px;
        }
        form{
            display: flex;
            flex-direction: column;
            label{
                @extend %text;
            }
            input{
                @extend %inputs;
            }
            div{
                button{
                    margin-top: 10px;
                    @extend %secondary_buttons;
                }
            }
        }
        #circleResult{
            @extend %results;           
        }
    }
}
