// Buttons

// Nav Buttons

%button {
    border-radius: 10px;
    background-color: $clear;
    padding: 15px;
    margin: 10px;
    width: 129px;
    font-family: $montserrat;
    font-size: 1rem;
    box-shadow: 2px 2px 5px $border;
    border: $border;
    transition: .3s ease all;
    &:hover {
        cursor: pointer;
        background-color: $main;
        color: $clear;
        box-shadow: none;
    }
    .focus_button{
        background-color: $main;
        color: $clear;
    }
}

//----------- Secondary buttons 

%secondary_buttons{
    border-radius: 4px;
    width:fit-content;
    background-color: $clear;
    margin-right: 5px;
    padding: 10px;
    font-family: $montserrat;
    font-size: 1rem;
    box-shadow: none;
    border: none;
    color: $main;
    transition: .3s ease all;
    &:hover {
        cursor: pointer;
        background-color: $input_color;
        color: $clear;
        box-shadow: none;

    }
    .focus_button{
        background-color: $input_color;
        color: $clear;
    }
}

//------------------ Text 

%text{
    font-size: 1rem;
    font-family: $roboto;
    color: $clear;
}

%h2{
        font-family: $roboto;
        font-size: 1.5rem;
        margin-top: 15px;
        color:$font_color;
        line-height: 30px;
}

%h3{
    font-family: $roboto;
    font-size: 1.2rem;
    color: $clear;
}

//-------------- Inputs

%inputs{
    margin-top: 15px;
    border-radius: 4px;
    background: $input_color;
    padding: 10px;
    text-align: start;
    width: 50%;
    color: $clear;
    box-shadow: none;
    border: none;
    font-family: $montserrat;
    font-size: 1rem;
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

//------------Results 

%results {
    margin: 15px 0px 15px 0px;
            @extend %text;
            font-size: 1.2rem;
            color: $clear;
            font-weight: bold; 
}

// ------------Containers

%containers{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    background: $main;
    border-radius: 10px;
    height: auto;
    padding: 10px;
}