* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    hr {
        width: 80%;
        margin: 0 auto;
        margin-top: 15px;
        opacity: 50%;    
    }
}

header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    a{
        margin:10px;
        #logo{
            color: $main;
            font-size: 2.5rem;
        }
    }
    h1{
        width: 70%;
        font-family: $roboto;
        font-size: 1.2rem;
        margin: 0 auto;
        margin-top: 15px;
        color:$font_color;
        line-height: 30px;
        #eva{
            color: $main;
        }
        #robot{
            font-size: 1.5rem;
            color: $secondary;
            margin-left: 5px;
        }
    }
    p{
       @extend %text;
        margin-top: 15px;
        text-align: center;
        color: $font_color;
    }
    div{
        margin-top: 15px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        button{
            @extend %button;
            }
    }
   }