#percentage_section{
    display: none;
    margin: 20px;
    margin-top: 15px;
    h2{
        @extend %h2;
    }
    form{
        @extend %containers;
        background: $secondary;
        label{
            i{
                margin-right: 10px;
                font-size: 2rem;
                color: $clear;
            }
            margin-top: 15px;
            @extend %text;
        }
        input{
            @extend %inputs;
            background: $input_secondary;
            color: $font_color;
        }
        div{
            margin-top: 15px;
            .radio_input{
                width: auto;
                margin-top: 0;
            }
            button{
                @extend %secondary_buttons;
            }
        }
        #percentage_result{
            @extend %results;
        }
    }
}