#percentage_section{
    display: block;
    margin: 20px;
    margin-top: 15px;
    h2{
        @extend %h2;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        background: $secondary;
        border-radius: 10px;
        height: auto;
        padding: 10px;
        label{
            margin-top: 15px;
            @extend %text;
        }
        input{
            @extend %inputs;
            background: $input_secondary;
            color: $font_color;
        }
        div{
            margin-top: 15px;
            .radio_input{
                width: auto;
                margin-top: 0;
            }
            button{
                @extend %secondary_buttons;
            }
        }
    }
}