#salaries_section{
    display: none;
    margin: 20px;
    margin-top: 15px;
    h2{
        @extend %h2;
    }
    h3{
        @extend %h3;
        display: flex;
        align-items: center;
        i{
            margin-right: 10px;
            font-size: 2rem;
            color: $clear;
        }
    }
    form{
        @extend %containers;
        label{
            margin-top: 15px;
            @extend %text;
        }
        input{
            @extend %inputs;
        }
        div{
            margin-top: 15px;
        button{
            @extend %secondary_buttons;
        }
    }
    }
    .list_values{
        @extend %containers;
        background: $secondary;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p{
                @extend %text;
            }
        }
    #valuesSalaries{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @extend %text;
        margin-top: 15px;
        font-size: 1rem;
        i{
            font-size: 0.8rem;
        }
    }
    }
    #pricesResults{
        @extend %containers;
        #price_results_header{
            display: flex;
            justify-content: space-between;
            button{
                @extend %secondary_buttons;
            }
         }
         div{
             margin-top: 10px;
             @extend %text;
         }
    }
}