// colors 

// Light Mode 

$font_color:#414144;
$hover: #8461ff;
$main:#562ee5a8;
$input_color:#af99ff;
$secondary: #50E3C2;
$input_secondary: #a7ffec;
$active: #9cafc3b0;
$clear: rgb(252, 249, 249);
$border: rgb(163, 163, 163);

// Dark mode 

$darkmode : #37383C;
$darkmode2: #222326;
$hover_dark_mode: #222326f8;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

